
*{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    
    
}

body{
    background-color: black;
}

.score1{
  
    width: 100vw;
    background-color: lightblue;
}
.score{
    text-align: center;
    justify-content: center;
    padding-top: 5vh;
    font-size: 150px;
color: white;
background-color: lightblue;
}

.buttonscore{
    position: absolute;
    margin-top: 40vh;
    text-align: center;
    padding-left: 590px;

    
}

.team1{
    text-align: left;
    padding-left: 3vw;
    font-size: 50px;
    

}
.team11{
    text-align: center;
    padding-left: 3vw;
    font-size: 50px;

}
.team2{
justify-content: flex-end;
padding-right: 3vw;
font-size: 50px;
padding-left: 71vw;
}
.team22{
    text-align: center;
    padding-right: 3vw;
    font-size: 50px;
    padding-left: 71vw;
    }
.teams{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
    background-color: rgb(92, 145, 183);
}
.period{
   justify-content: center;
    font-size: 100px;
    text-align: center;
    color: white;
    background-color: lightskyblue;
}

.period1{
    justify-content: center;
     font-size: 100px;
     color: white;
     text-align: center;
     background-color: lightskyblue;
     width: 70vw;
 }
 .time{
    position: absolute;
    padding-top: 20px;
    color: black;
    background-color: rgb(175, 239, 255);
    padding: 19px;
    
 }

 .tim2{
    text-align: center;
    font-size: 40px;
 }
 
 .buttonperiod{
    padding-left: 10px;
    position: absolute;
 }
 .resetScoreButton{
    position: absolute;
    text-align: center;
    margin-left:47.5vw ;
    margin-top: 20px;
 }
.score11{
    position: absolute;
}
.score22{
    position: absolute;
    margin-left: 960px;
}